<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wallet Report - Dashboard</title>
    <link rel="icon" type="image/png" href="../assets/icons/icon-logo.png">
    <link rel="stylesheet" href="../utils/node_modules/morrisjs/morris.css">
    <link rel="stylesheet" href="../utils/node_modules/c3-master/c3.min.css">
    <link rel="stylesheet" href="../assets/styles/dashboard/style.css">
    <link rel="stylesheet" href="../assets/styles/dashboard/dashboard1.css">
    <link rel="stylesheet" href="../utils/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="../utils/font-awesome/css/font-awesome.min.css">
</head>

<body class="skin-default-dark fixed-layout">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Wallet Report Dashboard</p>
        </div>
    </div>
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header">
                    <a class="navbar-brand" href="dashboard.html"><img class="navbar-logo" src="../assets/icons/big-logo.png" alt="Wallet Report"></a>
                </div>
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto" style="margin: 0 auto;">
                        <li class="nav-item hidden-sm-up"> 
                            <a class="nav-link nav-toggler waves-effect waves-light" href="javascript:void(0)">
                                <i class="ti-menu menu-mobile"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="index.html" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-sign-out" alt="Sair"></i> Sair
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar">
            <div class="d-flex no-block nav-text-box align-items-center">
                <span><img class="navbar-small-logo" src="../assets/icons/small-logo.png" alt="Wallet Report"></span>
                <a class="waves-effect waves-dark ml-auto hidden-sm-down" href="javascript:void(0)"><i
                        class="ti-menu"></i></a>
                <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)"><i
                        class="ti-menu ti-close"></i></a>
            </div>

            <div class="scroll-sidebar">

                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> <a class="waves-effect waves-dark" href="dashboard.html" aria-expanded="false"><i
                                    class="fa fa-area-chart"></i><span class="hide-menu">Dashboard</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="profile.html" aria-expanded="false"><i
                                    class="fa fa-user-circle-o"></i><span class="hide-menu">Perfil</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="table.html" aria-expanded="false"><i
                                    class="fa fa-table"></i><span class="hide-menu"></span>Tabelas</a></li>
                    </ul>
                </nav>

            </div>

        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Dashboard</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card oh">
                            <div class="card-body">
                                <div class="d-flex m-b-30 align-items-center no-block">
                                    <h5 class="card-title ">Compare</h5>
                                    <div class="ml-auto">
                                        <ul class="list-inline font-12">
                                            <li><i class="fa fa-circle eth"></i> ETH</li>
                                            <li><i class="fa fa-circle btc"></i> BTC</li>
                                            <li><i class="fa fa-circle xrp"></i> XRP</li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="morris-area-chart" style="height: 350px;"></div>
                            </div>
                            <div class="card-body bg-light">
                                <div class="row text-center m-b-20">
                                    <div class="col-lg-4 col-md-4 m-t-20">
                                        <span class="text-muted">XRP</span>
                                    </div>
                                    <div class="col-lg-4 col-md-4 m-t-20">
                                        <span class="text-muted">ETH</span>
                                    </div>
                                    <div class="col-lg-4 col-md-4 m-t-20">
                                        <span class="text-muted">BTC</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="container-high-cryptos card">
                            <div class="card-body">
                                <h5 class="card-title">Criptomoedas</h5>
                                <h6 class="card-subtitle">As criptomoedas que estão em alta</h6>
                                <div id="high-cryptos" class="steamline m-t-40">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <h5 class="card-title">Transações de criptomoedas</h5>
                                        <h6 class="card-subtitle">Veja as trocas em tempo real</h6>
                                    </div>
                                    <!-- <div class="ml-auto">
                                        <select class="custom-select b-0">
                                            <option>Outubro</option>
                                            <option value="1">February</option>
                                            <option value="2" selected="">March</option>
                                            <option value="3">April</option>
                                        </select>
                                    </div> -->
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Criptomoeda</th>
                                            <th>Data</th>
                                            <th>Volume total</th>
                                            <th>Mudança</th>
                                            <th>Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody id="dashboard-table">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            © 2020 Wallet Report
        </footer>
    </div>
    <script src="../utils/node_modules/jquery/jquery-3.2.1.min.js"></script>
    <script src="../utils/node_modules/popper/popper.min.js"></script>
    <script src="../utils/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/dashboard/perfect-scrollbar.jquery.min.js"></script>
    <script src="../js/dashboard/waves.js"></script>
    <script src="../js/dashboard/sidebarmenu.js"></script>
    <script src="../js/dashboard/custom.min.js"></script>
    <script src="../utils/node_modules/raphael/raphael-min.js"></script>
    <script src="../utils/node_modules/morrisjs/morris.min.js"></script>
    <script src="../utils/node_modules/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="../utils/node_modules/d3/d3.min.js"></script>
    <script src="../utils/node_modules/c3-master/c3.min.js"></script>
    <script src="../js/dashboard/dashboard.js"></script>
    <script src="../js/dashboard/dashboard-high-cryptos.js"></script>
    <script src="../js/dashboard/dashboard-table.js"></script>
</body>

</html>