<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../assets/icons/icon-logo.png">
    <link rel="stylesheet" href="../assets/styles/login/login.css">
    <title>Wallet Report - Login</title>
</head>
<body>
    <div class="container">
        <img src="../assets/images/banner_back_login_register.png" alt="Wallet Report - Seu relatório de criptomoedas">
        <form name="login" action="./dashboard.html" method="GET" autocomplete="off">
            <p>Login</p>
            <input placeholder="CPF" type="text" name="cpf" required="" pattern="[0-9]{11}" title="Preencha seu CPF">
            <input placeholder="SENHA" type="password" name="password" required="" title="Preencha sua senha">
            <div>
                <a class="back" href="./index.html">Voltar</a>
                <button type="submit">Entrar</button>
            </div>
            <a href="./register-cpf.html">Criar uma conta</a>
        </form>
    </div>
</body>
</html>