<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../assets/icons/icon-logo.png">
    <link rel="stylesheet" href="../assets/styles/login/login.css">
    <title>Wallet Report - Login</title>
</head>
<body>
    <div class="container">
        <img src="../assets/images/banner_back_login_register.png" alt="Wallet Report - Seu relatório de criptomoedas">
        <div class="square">
            <p>Login</p>
            <p data-name="message">Login</p>
            <input placeholder="CPF (somente números)" type="text" name="cpf" title="Preencha seu CPF">
            <input placeholder="SENHA" type="password" name="password" title="Preencha sua senha">
            <div>
                <a class="back" href="./index.html">Voltar</a>
                <button data-name="enter">Entrar</button>
            </div>
            <a href="./register-cpf.html">Criar uma conta</a>
        </div>
    </div>
    <script src="../js/login.js"></script>
</body>
</html>