<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../assets/icons/icon-logo.png">
    <link rel="stylesheet" href="../assets/styles/register/register-data.css">
    <title>Wallet Report - Cadastre-se</title>
</head>
<body>
    <div class="container">
        <img src="../assets/images/banner_back_login_register.png" alt="Wallet Report - Seu relatório de criptomoedas">
        <div class="square">
            <h3>Registro</h3>
            <p data-name="message">Digite o seu e-mail e sua senha.</p>
            <input placeholder="EMAIL" type="email" name="email" required title="Preencha seu E-Mail">
            <input placeholder="SENHA" type="password" name="password" minlength="8" required title="Preencha sua senha">
            <input placeholder="REPITA A SENHA" type="password" name="rpassword" minlength="8" required title="Repita sua senha">
            <div>
                <a class="back" href="./register-cpf.html">Voltar</a>
                <button data-name="continue">Continuar</button>
            </div>
            <a href="./login.html">Já tem uma conta? Faça login.</a>
        </div>
    </div>
    <script src="../js/second-form.js"></script>
</body>
</html>