<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wallet Report - Tabela de criptomoedas</title>
    <link href="../assets/styles/dashboard/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="../assets/icons/icon-logo.png">
    <link rel="stylesheet" href="../utils/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="../utils/font-awesome/css/font-awesome.min.css">
</head>

<body class="skin-default-dark fixed-layout">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Wallet Report</p>
        </div>
    </div>
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header">
                    <a class="navbar-brand" href="dashboard.html"><img class="navbar-logo" src="../assets/icons/big-logo.png" alt="Wallet Report"></a>
                </div>
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto" style="margin: 0 auto;">
                        <li class="nav-item hidden-sm-up"> 
                            <a class="nav-link nav-toggler waves-effect waves-light" href="javascript:void(0)">
                                <i class="ti-menu menu-mobile"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="index.html" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-sign-out" alt="Sair"></i> Sair
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar">
            <div class="d-flex no-block nav-text-box align-items-center">
                <span><img class="navbar-small-logo" src="../assets/icons/small-logo.png" alt="Wallet Report"></span>
                <a class="waves-effect waves-dark ml-auto hidden-sm-down" href="javascript:void(0)"><i
                        class="ti-menu"></i></a>
                <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)"><i
                        class="ti-menu ti-close"></i></a>
            </div>

            <div class="scroll-sidebar">

                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> <a class="waves-effect waves-dark" href="dashboard.html" aria-expanded="false"><i
                                    class="fa fa-area-chart"></i><span class="hide-menu">Dashboard</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="profile.html" aria-expanded="false"><i
                                    class="fa fa-user-circle-o"></i><span class="hide-menu">Perfil</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="table.html" aria-expanded="false"><i
                                    class="fa fa-table"></i><span class="hide-menu"></span>Tabelas</a></li>
                    </ul>
                </nav>

            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Tabla de criptomoedas</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <div class="search-coins input-group">
                                <input id="input-search-coin" type="text" class="form-control" placeholder="Busque a moeda que deseja" aria-label="Buscador de moedas" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                  <button id="btn-search-coin" class="btn btn-outline-secondary" type="button"><i class="ti-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <h5 class="card-title">Relatório de criptomoeda</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Criptomoeda</th>
                                            <th>Data</th>
                                            <th>Horário</th>
                                            <th>Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            © 2020 Wallet Report
        </footer>
    </div>
    <script src="../utils/node_modules/jquery/jquery-3.2.1.min.js"></script>
    <script src="../utils/node_modules/popper/popper.min.js"></script>
    <script src="../utils/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/dashboard/perfect-scrollbar.jquery.min.js"></script>
    <script src="../js/dashboard/waves.js"></script>
    <script src="../js/dashboard/sidebarmenu.js"></script>
    <script src="../utils/node_modules/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="../utils/node_modules/sparkline/jquery.sparkline.min.js"></script>
    <script src="../js/dashboard/custom.min.js"></script>
    <script src="../js/dashboard/table.js"></script>
</body>

</html>