body {
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    background: rgb(2, 49, 81);
    background-repeat: no-repeat;
    background: radial-gradient(circle, rgba(2, 49, 81, 1) 0%, rgba(5, 43, 71, 1) 0%, rgba(8, 37, 61, 1) 20%, rgba(9, 34, 55, 1) 30%, rgba(9, 34, 55, 1) 30%, rgba(11, 31, 48, 1) 40%, rgba(12, 28, 44, 1) 50%, rgba(15, 22, 33, 1) 75%);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 500px;
}

form {
    width: 360px;
    height: 360px;
    display: flex;
    padding: 30px;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #11121a;
}

button {
    padding: 7px 25px 5px;
    background-color: #fff0;
    border: 2px solid #00355a;
}

p {
    font-size: 30px;
}

p,
a,
button {
    margin: 0;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
}

input,
button {
    outline: none;
    appearance: none;
    -webkit-appearance: none;
}

input::placeholder {
    color: #4d4d4d;
}

input {
    height: 40px;
    width: 350px;
    color: white;
    margin: 10px 0;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    font-family: sans-serif;
    text-transform: uppercase;
    border: 2px solid #00355a;
    background-color: #11121a;
}

form p {
    margin-bottom: 30px;
}

form div {
    margin-top: 30px;
}

form div button {
    cursor: pointer;
    background-color: #00355a;
    transition: ease-in-out .5s;
}

form div a,
form div button {
    font-size: 18px;
    border-radius: 5px;
}

form > a {
    margin-top: 40px;
}

.back {
    padding: 6.5px 25px;
    border: 2px solid #00355a;
    transition: ease-in-out .5s;
}

.back:hover,
form div button:hover {
    border-color: #00b9fc;
    background-color: #00b9fc;
}

@media (max-width: 360px) {
    form {
        width: 240px !important;
        margin-top: 50px !important;
    }
    form > a {
        margin-top: 0px;
    }
    input {
        width: 260px !important;
        margin: 5px 0 20px !important;
    }
    form p {
        text-align: center !important;
    }
    form div {
        margin-top: 10px !important;
        margin-bottom: 30px !important;
    }
    form div a {
        margin-right: inherit !important;
    }
    form div button {
        margin-left: inherit !important;
    }
}

@media(min-width: 480px) {
    form div a {
        margin-right: 20px;
    }
    form div button {
        margin-left: 20px;
    }
}

@media(max-width: 800px) {
    .container {
        flex-direction: column;
    }

    img {
        width: 300px;
    }

    form {
        width: 300px;
        margin-top: 50px;
    }

    input {
        width: 280px;
    }
}